@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
  visibility: inherit;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
}

*:hover.custom-shadow {
  box-shadow: 8px 8px 0 oklch(0.257 0.09 281.288);
}

.custom-shadow-2 {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05);
}
